---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Vojtěch Semecký" description="Vojtěch Semecký – co-owner & product developer at Testomato.com">
  <div class="flex flex-col items-center justify-center py-20 text-center">
    <img
      src="/square.jpg"
      alt="Vojtěch Semecký"
      width="200"
      height="200"
      class="rounded-full mb-6"
    />
    <h1 class="text-4xl font-bold mb-3">Vojtěch Semecký</h1>
    <p class="text-lg text-gray-400 mb-8">
      Co-owner & Product Developer at&nbsp;
      <a
        href="https://www.testomato.com/?utm_campaign=Vojta&utm_medium=website&utm_source=vojtech.semecky.cz"
        target="_blank"
        rel="noopener noreferrer"
        class="text-white hover:underline"
      >
        Testomato.com
      </a>
    </p>
  </div>
</Layout>
